<row class="search-active-bt-wrapper clearfix">
{{!-- <div class="search-active-bt-close pull-left col-sm-1 glyphicon glyphicon-off"></div> --}}
<button type="button" class="pull-left close search-active-bt-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</row>
DETAILS FOR: <h1>{{title}}</h1>

{{handle}}