<div class="message">
<div>{{message}}
</div>
<div>
<!-- <span class="glyphicon-class aoi aoi-yes"></span> -->
<span style="font-size:13px;" class="aoi aoi-yes pull-left icon-checkmark" title="process string as an AOI"></span>
	 &nbsp;&nbsp;&nbsp;
	<!-- <span class="aoi aoi-no">NO</span></div> -->
<span style="font-size:13px;" class="aoi aoi-no pull-right icon-x-altx-alt" title="ignore possible aoi input"></span>
</div>