<ul class="list-inline" id="mnu-basemaps">
{{#each rows}}
<li class="mnu-basemap-item" data-id="{{this.name}}">
<img class="{{this.active}}" src="images/thumbs/{{this.name}}.png" height="" width="">
</li>
{{/each}}
</ul>