
<div class="container">
  <div class="marketing" style="padding-top:50px;">

    <div class="appname offset4">It's a Beta!</div>

    <div class="row-fluid">

      <div class="featurette">
        <img class="featurette-image pull-right" src="images/betababy.png">
        <h2 class="featurette-heading">What to Expect</span></h2>
        <p class="lead">As you use this application, here are a couple of notes that may clarify the experience:</p>
        <p>
          <ul>
          <li>Hope you weren't planning on (or are!) <strong>using IE</strong>. The Lab restricts IE so tightly due to security concerns that it is basically an unusable browser for an application like this. We use a handful of third-party utilities (all basemaps, for example, as well as the search's auto-complete feature and some style components such as fonts and stylesheets), which we can't even <em>test</em> in IE, let alone work around that browser's legendarily "unique" behavior. Surely if you use IE regularly you've run into such things before, but even still we apologize if it is an inconvenience.</li>
            <li>This is stated elsewhere, but not having <strong>cookies</strong> enabled will empact the persistence of your download session. Not having <strong>JavaScript</strong> enabled is basically a non-starter.</li>
            <li>Most of the notifications and feedback you'll get will appear in the lower right corner.</li>
            <li><em>Queing</em> something for download (<i class="icon-awesome-download"></i>) is not the same as downloading. Your queue is filled up with your selections and then you can manage that separately at any time by visiting the <a href="#download">Download Queue</a> tab.</li>
            <li>Not all of our data are available yet. <strong>CIB 1-meter</strong> imagery, perhaps most notably, is not yet available (a suitable proxy might be <a href="#search/p1/cib10">cib10</a> if you want to see how [a subset of a lesser-resolution] CIB01 might look). We also have NAIP, CDRG and LandSat material sitting around (among a few others) that are simply too bulky or differently-arranged to have been prepared before the beta phase of the application itself was ready.</li>
            <li>But that's it. Enjoy! And don't forget we have a <a href="https://c3.llan.ll.mit.edu/blogs/249650e6-9c85-498a-bd0d-59b7b602623a/?lang=">community on c3</a> for this project.</li>
          </ul>
        </p>
      </div>

    </div> <!-- ./ row-fluid -->

  </div>

</div>
