<div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h3>Contact Us -- Anything Goes!</h3>
       </div>
       <div class="modal-body">
           <div class="control-group clearfix">
               <div class="controls">
               <form class="form-inline">
                   <div class="input-prepend input-append pull-left" style="margin-right:13px;">
                       <span class="add-on" style="height:2em;"> <i class="icon-envelope"></i>
                       </span>
                       <input class="span3" id="contactInputEmail" type="text" placeholder="optional email" style="height:2em;">
                       <span class="add-on" style="height:2em;">@ll.mit.edu</span>
                       </div>
                   <div class="input-append">
                       <input class="span2" id="contactInputBadge" type="text" placeholder="optional badge" style="height:2em;">       
                       <span class="add-on" style="height:2em;"> <i class="icon-user"></i>
                       </span>
                   </div>
                   </form>
               </div>
           </div>
           <p><textarea id="contactInputMessage" class="span5" rows="3">{{message}}</textarea></p>
       </div>
       <div class="modal-footer">
           <a href="#" class="btn btn-primary">Send!</a>
       </div>