<ul id="" class="dlex-toggle col-sm-12">
	<li class="col-sm-11 pull-left">Downloads Clip to Current Map Extent:</li>
	<li style="text-align:left;" class="dlex-toggle-switch col-sm-1 glyphicon {{#equal clip 0}}glyphicon-remove-circle off{{/equal}}{{#equal clip 1}}glyphicon-check on{{/equal}}"></li>
</ul>