<div class="col-sm-12">Downloads Clip to AOI Geometry {{#get_aoi_nom }}{{/get_aoi_nom}} ?</strong>: <input id="dlex-button-toggle" type="checkbox" class="js-switch" {{#equal dlex "aoi"}}checked{{/equal}} />
</div>
{{!-- <input id="dlex-switcher-toggle" type="checkbox" class="js-switch"  /> --}}