<div class="span1"></div><div class="dlsession span9">
<div class="titlepane span4">{{title}}</div>

{{#equal queued true}}
<div class="statspane span4">
    <div>
        <span class="muted">total payload size: ~</span>
        {{{sizeBeautified loadsize}}}
    </div>

    <div>
        <span class="muted">total download files:</span>
        {{#if dlcnt}}{{dlcnt}}{{/if}}
    </div>
    <div class="chart-wrapper pull-right">
        <span class="muted pull-left">% completed:</span>
        <div class="chart pull-right row"></div>
    </div>
</div>
{{/equal}}


<ul class="row span9 well dlFileList">  
 <div class="btnDLGroup btn-group btn-group-vertical pull-right">
<a class="btn btnEnvelope pull-right" aria-hidden="true" data-original-title="download extent"><i class="icon-girl-footprint {{#equal envelonoff true}}active{{/equal}}"></i></a>
{{#compare queued true }}
    {{#compare format "raster" }}

    <a class="btn btnDLSubset pull-right" aria-hidden="true" data-original-title="select a subset of this resource"><i class="icon-pointer"></i></a>
    {{/compare}}

    <a class="btn btnDLRemove pull-right " data-original-title="permanently remove this download from the queue"><i class="icon-trashcan"></i></a>

{{/compare}}
</div>
{{#compare queued true }}

    <div class="span7 alert alert-error" style="font-weight:bold;"><p>The requested payload would amount to approximately {{{sizeBeautified loadsize}}}, which we feel is just too much to deliver over the lab's network. Please consider using the tool at right to choose a subset of the dataset for immediate download.</p>
    <p>If you feel you do, in fact, need a massive transfer of data, please contact us either through this site's contact utility (the "Tell Us" button at the top of the page) or by emailing <a href="mailto:christopher.miller@ll.mit.edu">Chris Miller</a> or <a href="mailto:bmenk@ll.mit.edu">Bobb Menk</a> directly and we'll work out a solution (probably involving the physical transfer of pluggable hard drives).</p></div>

{{/compare}}

{{#compare queued false}}
    <div class="span8 rightsWarning alert-completed">this download has been removed from the queue</div>
    {{/compare}}
</ul>



<div class="divider span9">
    <hr>
</div>
</div>