<div class="modal-header">

    <h3 id="myModalLabel">We think maybe you entered coordinates?</h3>
  </div>
  <div class="modal-body">
  <p>{{message}}</p>
  <button type="button" class="btn btn-default btn-lg">
  <span class="icon-arrow-circle-up"></span> Guess Right?
</button>
  </div>