<div class="switcher-label col-sm-10">
Area of Interest (aoi): <span class="">{{nominatum_chop display_name 0}}</span>
</div>

<ul class="list-inline switcher-toolbar col-sm-2">
	<li class="col-sm-1 switcher-trigger switcher-zoom glyphicon glyphicon-fullscreen"></li>
	<li class="col-sm-1 switcher-trigger switcher-hide glyphicon glyphicon-ban-circle"></li>
</ul>