{{!-- <div class="" id="inputContainer"> --}}

<div class="col-lg-12">
    <div class="input-group col-lg-12">
      {{!-- <input type="text" class="form-control" placeholder="Search for..."> --}}
	<input type="text" placeholder="query here for data OR locations of interest" class="form-control" value='{{querydisplay}}'>
      <span class="input-group-btn">
        {{!-- <button id="bt-query" class="btn btn-default" type="button">Query for Data</button> --}}
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->


{{!-- </div> --}}