<span class="input-append" style="margin-right:5px;">
    <input class="span3 offset0 pull-left" id="appendedInputButtonsData" size="12" type="text" placeholder="query for data" value='{{cleanquery querystring}}'>
    <span class="input-group-btn">
        <button id="btnSearch" class="btn btn-default" type="button">
            <span class="icon-binoculars"></span> Data</button>
    </span>
</span>
<span class="input-append">
    <input class="span3 offset0" id="appendedInputButtons" size="12" type="text" placeholder="find/zoom to map locations" value=''>

    <button id="btnGeocode" class="btn" type="button">
        <span class="icon-location"></span> Places</button>
</span>


<!-- <button id="btnSearch" class="btn" type="button"> -->

<!-- <span style="width:100%;" class="icon-link2 purl-trigger" data-original-title="Link To"></span>
Search for Data</button> -->
