<div class="title offset2 span7" style="text-align:center;"><h2>displaying {{count}} updates for {{#if series}}series{{/if}} <span class="series">{{#if series}}{{series}}{{/if}}{{#if mongoid}}{{mongoid}}{{/if}}</span>:</h2>
			<h4 class="muted">{{range_split range}}</h4>
<div class="muted minutiae" style="font-size:.5em;">(colors randomized)</div>
		</div>
